* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sour Gummy", sans-serif;
  background-color: #13111c;
  color: #fff;
  line-height: 1.6;
}

/* General Styles */
body {
  font-family: 'Sour Gummy', sans-serif;
    background-color: #1f1b2e;
    color: #fff;
    line-height: 1.6;
}

button{
  font-family: 'Sour Gummy', sans-serif;
}

header {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(227, 228, 237, 0.37);
    border-bottom: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  margin-left: 10px;
  background-color: #a278ff;
  padding-right: 15px;
  padding-left: 15px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10% 10% 10% 10%/ 10% 10% 10% 10%;
}

.logo:hover {
  box-shadow: 6px 6px 13px rgb(75, 34, 141);
}

.empty {
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav li {
  cursor: pointer;
  padding: 5px 10px;
  transition: background 0.3s;
  font-weight: 800;
}

nav li:hover {
  background-color: #3e3561;
  border-radius: 25px;
}

/* Video Player Section */
.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}

.player {
  width: 80%;
  background-color: #1a1423;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.genres {
  margin-top: 15px;
}

.genre-btn {
  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0.959);
  border: 3px solid #7c51ff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 15px 2px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 800;
}

.genre-btn:hover {
  background-color: #7c51ff;
  margin-bottom: 5px;
}

/* Movie Thumbnails */
.movie-thumbnails {
  margin: 20px;
  padding: 20px;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.thumbnail img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #1a1423;
  padding: 20px;
  text-align: center;
  color: #a278ff;
  font-size: 0.9em;
  margin-top: 20px;
}
